.header{
    position: fixed;
    width: 1187px;
    height: 104px;
    left: 325px;
    top: 0px;
    background: #373867;
}
#simbolo{
    position: relative;
    left: 29.05px;
    top: 26px;
    width: 35.33px;
    height: 33.7px;
    color: white;
}
.title{
    position: relative;
    top: 32.74px;
    left: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}
.line{
    position: absolute;
    left: 32.97px;
    top: 77.53px;
    width: 1107.03px;
    border-bottom: 2px solid white;
}
.box{
    position: absolute;
    width: 109.01px;
    height: 16px;
    left: 1031px;
    top: 45px;
}
#simbolos{
    position: relative;
    color: white;
    width: 16px;
    height: 16px;
}
.aside{
    position: fixed;
    width: 325px;
    height: 982px;
    left: 0px;
    top: 0px;
    background: #373867;
}
.search{
    position: absolute;
    width: 260px;
    height: 38px;
    left: 32px;
    top: 30px;
    background-color: #373867;
    color: grey;
}
#loupe{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    color: grey;
}
.bold{
    position: relative;
    width: 200px;
    height: 20px;
    left: 29px;
    top: 119px;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}
.list{
    position: absolute;
    top: 202px;
    width: 200px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: white;
    text-transform: uppercase;
}
.line-aside{
    position: relative;
    width: 281px;
    height: 0px;
    right: 18px;
    bottom: 5px;
    border-bottom: 2px solid grey;
}
#text{
    position: absolute;
    left: 0px;
    top: 350px;
}
.text-paragraph{
    position: relative;
    width: 258px;
    height: 97px;
    top: 119px;
    left: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 19px;
    color: white;
}
#contact{
    position: absolute;
    left: 0px;
    top: 250px;
}
.info{
    position: relative;
    width: 258px;
    left: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.main{
    position: relative;
    width: 1187px;
    height: 878px;
    left: 325px;
    top: 104px;
}
.first-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 0px;
    background: white;
}
.first-frame-text{
    position: relative;
    width: 435px;
    height: 44px;
    left: 70.5px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    font-variant: small-caps;
    color: black;
    text-transform: uppercase;
}
.first-frame-paragraph{
    position: relative;
    width: 408px;
    height: 160px;
    left: 70px;
    top: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-variant: small-caps;
    color: grey;
    text-transform: uppercase;
}
.first-frame-image{
    position: absolute;
    width: 574px;
    height: 560px;
    right: 82px;
    top: 64px;
    border-radius: 8px;
}
.first-frame-bottom{
    position: relative;
    left: 70.5px;
    top: 150px;
}