.header{
    position: fixed;
    width: 1187px;
    height: 104px;
    left: 325px;
    top: 0;
    background: #373867;
}
#simbolo{
    position: relative;
    left: 29.05px;
    top: 26px;
    width: 35.33px;
    height: 33.7px;
    color: white;
}
.title{
    position: relative;
    top: 32.74px;
    left: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}
.line{
    position: absolute;
    left: 32.97px;
    top: 77.53px;
    width: 1107.03px;
    border-bottom: 2px solid white;
}
.box{
    position: absolute;
    width: 109.01px;
    height: 16px;
    left: 1031px;
    top: 45px;
}
#simbolos{
    position: relative;
    color: white;
    width: 16px;
    height: 16px;
}
.aside{
    position: fixed;
    width: 325px;
    height: 982px;
    left: 0px;
    top: 0px;
    background: #373867;
}
.search{
    position: absolute;
    width: 260px;
    height: 38px;
    left: 32px;
    top: 30px;
    background-color: #373867;
    color: grey;
}
#loupe{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    color: grey;
}
.bold{
    position: relative;
    width: 200px;
    height: 20px;
    left: 29px;
    top: 119px;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}
.list{
    position: absolute;
    top: 202px;
    width: 200px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: white;
    text-transform: uppercase;
}
.line-aside{
    position: relative;
    width: 281px;
    height: 0px;
    right: 18px;
    bottom: 5px;
    border-bottom: 2px solid grey;
}
#text{
    position: absolute;
    left: 0px;
    top: 350px;
}
.text-paragraph{
    position: relative;
    width: 258px;
    height: 97px;
    top: 119px;
    left: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 19px;
    color: white;
}
#contact{
    position: absolute;
    left: 0px;
    top: 250px;
}
.info{
    position: relative;
    width: 258px;
    left: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.main{
    position: relative;
    width: 1187px;
    height: 878px;
    left: 325px;
    top: 104px;
}
.first-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 0px;
    background: white;
}
.first-frame-text{
    position: relative;
    width: 435px;
    height: 44px;
    left: 70.5px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    font-variant: small-caps;
    color: black;
    text-transform: uppercase;
}
.first-frame-paragraph{
    position: relative;
    width: 408px;
    height: 160px;
    left: 70px;
    top: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-variant: small-caps;
    color: grey;
    text-transform: uppercase;
}
.first-frame-image{
    position: absolute;
    width: 574px;
    height: 560px;
    right: 82px;
    top: 64px;
    border-radius: 8px;
}
.first-frame-bottom{
    position: relative;
    left: 70.5px;
    top: 150px;
}
.second-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 878px;
    background: white;
}
.second-frame-first-image{
    position: absolute;
    width: 235px;
    height: 235px;
    left: 59px;
    top: 183px;
}
.second-frame-first-paragraph{
    position: absolute;
    left: 294px;
    top: 183px;
    width: 300px;
    height: 137px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.second-frame-third-image{
    position: absolute;
    width: 235px;
    height: 235px;
    left: 59px;
    top: 540px;
}
.second-frame-third-paragraph{
    position: absolute;
    left: 294px;
    top: 540px;
    width: 300px;
    height: 137px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.second-frame-second-image{
    position: absolute;
    width: 235px;
    height: 235px;
    right: 339px;
    top: 183px;
}
.second-frame-second-paragraph{
    position: absolute;
    right: 40px;
    top: 183px;
    width: 300px;
    height: 137px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.second-frame-fourth-image{
    position: absolute;
    width: 235px;
    height: 235px;
    right: 339px;
    top: 540px;
}
.second-frame-fourth-paragraph{
    position: absolute;
    right: 40px;
    top: 540px;
    width: 300px;
    height: 137px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.third-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 1756px;
    background: white;
}
.third-frame-first-image{
    position: absolute;
    width: 387px;
    height: 581px;
    left: 95px;
    top: 218px;
    border-radius: 8px;
}
.third-frame-first-text{
    position: absolute;
    width: 435px;
    height: 38px;
    left: 522px;
    top: 461px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.line-third-frame{
    position: absolute;
    width: 778px;
    height: 0px;
    left: 375px;
    top: 518px;
    border: 2px solid black;
    transform: rotate(-90deg);
}
.third-frame-first-second-image{
    position: absolute;
    width: 112px;
    height: 112px;
    right: 300px;
    top: 218px;
}
.third-frame-first-paragraph{
    position: absolute;
    width: 250px;
    height: 115px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
    right: 40px;
    top: 218px;
}
.third-frame-second-image{
    position: absolute;
    width: 112px;
    height: 112px;
    right: 300px;
    top: 383px;
}
.third-frame-second-paragraph{
    position: absolute;
    width: 250px;
    height: 115px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
    right: 40px;
    top: 383px;
}
.third-frame-third-image{
    position: absolute;
    width: 112px;
    height: 112px;
    right: 300px;
    top: 576px;
}
.third-frame-third-paragraph{
    position: absolute;
    width: 250px;
    height: 115px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
    right: 40px;
    top: 576px;
}
.third-frame-fourth-image{
    position: absolute;
    width: 112px;
    height: 112px;
    right: 300px;
    top: 748px;
}
.third-frame-fourth-paragraph{
    position: absolute;
    width: 250px;
    height: 115px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    font-variant: small-caps;
    text-transform: uppercase;
    right: 40px;
    top: 748px;
}
.fourth-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 2634px;
    background: white;
}
.fourth-frame-text{
    position: absolute;
    width: 423px;
    height: 35px;
    left: 151px;
    top: 258px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    font-variant: small-caps;
    color: black;
    text-transform: uppercase;
}
.fourth-frame-first-image{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 200px;
    top: 317px;
}
.fourth-frame-second-image{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 300px;
    top: 342px;
}
.fourth-frame-third-image{
    position: absolute;
    width: 99px;
    height: 99px;
    left: 370px;
    top: 305px;
}
.fourth-frame-first-paragraph{
    position: absolute;
    width: 352px;
    height: 295px;
    left: 151px;
    top: 465px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
}
.line-fourth-frame{
    position: absolute;
    width: 778px;
    height: 0px;
    left: 375px;
    top: 518px;
    border: 2px solid black;
    transform: rotate(-90deg);
}
.fourth-frame-second-text{
    position: absolute;
    width: 423px;
    height: 35px;
    left: 898px;
    top: 258px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    font-variant: small-caps;
    color: black;
    text-transform: uppercase;
}
.line-fourth-second-frame{
    position: absolute;
    width: 281px;
    height: 0px;
    left: 898px;
    top: 320px;
    border-bottom: 2px solid grey;
}
.fourth-form{
    position: absolute;
    width: 554px;
    height: 67px;
    left: 898px;
    top: 362px;
    bottom: 5px;
}
.fourth-frame-third-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.input{
    width: 275px;
}
.input-message{
    width: 325px;
    height: 121px;
}
.button{
    position: absolute;
    right: 350px;
    background: #373867;
    color: white;
}
.fifth-frame{
    position: absolute;
    width: 1187px;
    height: 878px;
    left: 0px;
    top: 3512px;
    background: white;
}